

@import url('portfolio-sprites.css');

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:focus {
  outline: none;
}

/*******************************************************************************
Theme Styles
*******************************************************************************/

body {
  box-sizing: border-box;
  color:#333;
  background: #ECEEEE;
  font-size: 16px;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  line-height: 1.75em;
  -webkit-font-smoothing: antialiased;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}


.center
{
  text-align:center;
  margin: 0 auto;
}


h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
  letter-spacing: -1px;
}

h1 {
  font-size: 36px;
}

h2 {
  padding-bottom: 10px;
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 21px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  margin: 10px 0 15px 0;
  text-align: justify;
}

p, ul:not(.skills)
{
  text-shadow: 0 1px #fff;
}

a {
  text-decoration: none;
  color: #335599;
  transition: all 0.5s ease;
}

#links a
{
  color: #8E9AA5;
  text-shadow: none;
}

a:hover
{
  color: #439de9;
}


a.active, #links a:hover, #links a.active, #links a.active:hover
{
  color: #439de9;
  text-shadow: 0 0 7px rgba(71, 159, 233, 0.5);
}

#links a:hover
{
  color: #80BEF3;
  text-shadow: none;
}

em {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

pre, code {
  width: 100%;
  color: #222;
  background-color: #fff;

  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
  font-size: 14px;

  border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

pre {
  width: 100%;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  overflow: auto;
}

code {
  padding: 3px;
  margin: 0 3px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}

pre code {
  display: block;
  box-shadow: none;
}

blockquote {
  color: #666;
  margin-bottom: 20px;
  padding: 0 0 0 20px;
  border-left: 3px solid #bbb;
}

ul, ol, dl {
  margin-top: 25px;
  margin-bottom: 25px;
}

ul li {
  list-style: inside;
  margin: 0;
  padding: 0;
  text-indent: -1em;
  margin-left: 1em;
}

ol li {
  list-style: decimal inside;
  padding-left: 20px;
}

dl dt {
  font-weight: bold;
}

dl dd {
  padding-left: 20px;
  font-style: italic;
}

dl p {
  padding-left: 20px;
  font-style: italic;
}

table {
  border: 1px solid #373737;
  margin-bottom: 20px;
  text-align: left;
 }

th {
  font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 10px;
  background: #373737;
  color: #fff;
 }

td {
  padding: 10px;
  border: 1px solid #373737;
 }

form {
  background: #f2f2f2;
  padding: 20px;
}

img {
  width: 100%;
  max-width: 100%;
}


/*******************************************************************************
Customized Styles
*******************************************************************************/

#logo-container
{
  height: 350px;
  background: #000;
}

#logo
{
  width: 481px;
  height: 100%;
  margin: 0 auto;
  background: url('../images/logo.png') no-repeat 50% 50%;
  position: relative;
}

#logo:before, #logo:after, #logo b
{
  content: '';
  display: block;
  border-radius: 100%;
  position: absolute;
  left: 17px;
  top: 90px;
  transform-origin:center center;
}

#logo:before
{
  width: 165px;
  height: 165px;
  box-shadow: 0 8px 15px rgba(255,255,255,0.4) inset;
  animation: rotateYoyo 5s linear infinite;
}

#logo:after
{
  width: 100px;
  height: 100px;
  box-shadow: 0 0 10px rgba(255,255,255,0.4);
  transform-origin: 55px 47px;
  animation: rotate 14s linear infinite;
}

@keyframes rotate
{
  0%{
    transform:rotateZ(0deg);
  }
  50%{
    transform:rotateZ(180deg);
  }
  100%{
    transform:rotateZ(360deg);
  }
}

@keyframes rotateYoyo
{
  0%{
    transform:rotateZ(330deg);
  }
  50%{
    transform:rotateZ(360deg);
  }
  100%{
    transform:rotateZ(330deg);
  }
}

#logo b, #logo b:before
{
  content: '';
  display: block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: #fff;
  left: 77px;
  top: 145px;
  box-shadow: 0 0 10px #fff;
}

#logo b
{
  animation: flicker 8s linear infinite;
}
  
#logo b:before 
{
  height: 40px;
  top: 130px;
  animation: flicker 21.23s linear infinite;
  /* transform-origin: 50px 50px;*/
}

@keyframes flicker
{
  0%{
    transform:rotateZ(0deg) scaleX(1) scaleY(1);
  }
  50%{
    transform:rotateZ(180deg) scaleX(1.1) scaleY(1);
  }
  100%{
    transform:rotateZ(360deg) scaleX(1) scaleY(1);
  }
}




#logo-decoration {
  content:'dick';
  height: 5px;
  background: #666;
  border-top: 8px solid #333;
  margin-bottom: 50px;
}

#intro
{
  margin: 25px auto;
  text-align: justify;
}

#links
{
  padding-left: 30px;
  position: fixed;
  margin-top: -30px;
}

#links a
{
  margin-right: 30px;
}

#portrait
{
  display: block;
  border-radius: 5px;
  height: auto;
}

.skills
{
  line-height: 1em;
  text-align: justify;
  margin-left: -3px;
}

.skills li
{
  text-indent: 0;
  text-align: center;
  display: inline-block;
  background: #aaa;
  color: #fff;
  border-radius: 3px;
  padding: 9px 8px 6px 8px;
  margin: 5px;
  list-style: none;
}

#wrapper
{
  width: 480px;
  margin: 0 auto;
  transition: width 1s ease;
}

section
{
  margin: 3em 0;
}

section h3
{
  margin: 1.5em 0;
}

#contact
{
  margin-bottom: 300px;
}

#portfolio
{
  text-align:justify;
  text-align-last: justify; /* IE */
}

#portfolio:after /* Justify last line of text */
{
  content: "";
  display: inline-block;
  width: 100%;
}

#portfolio i
{
  position: relative;
  vertical-align: top;
  margin-right: 15px;
}


#portfolio ul li
{
  display: table;
  list-style: none;
  clear: both;
  text-indent: 0;
  margin: 50px 0;
}

#portfolio ul li span
{
  display: table-cell;
}

#portfolio > div
{
  clear: both;
  display: table;
}

#portfolio i div
{
  display: none;
  width: 480px;
  height: 300px;
  position: absolute;
  top: -300px;
  left: 50%;
  background: green;
  z-index: 4;
}

#portfolio i:hover div
{
  display: block;
}


/*******************************************************************************
Small Device Styles
*******************************************************************************/

@media screen and (max-width: 960px) {

  body {
    font-size:14px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

  code, pre {
    min-width: 320px;
    max-width: 480px;
    font-size: 11px;
  }

 #links
 {
   position: static;
   margin: 0 auto;
   width: 480px;
   padding: 0;
   text-align: center;
 } 
 
 #links a
 {
   display: inline-block;
 }

 #wrapper {
   width: 80%;
   min-width: 480px;
   margin: 0 auto;
  transition: none;
 }

}

@media screen and (min-width: 1500px)
{
  #wrapper
  {
    width: 680px;
    transition: width 1s ease;
  }
}
